html {
  padding:0;
  margin:0;
}

body {
  margin:0;
  padding-top: 50px;
  font-size: 16px;
}

.container {
  width: 1024px;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #777;
  text-align: center;
  border-top: 1px solid grey;
  font-size: 16px;
}

.title {
  padding-top: 6px;
  text-align: center;
}

.nav>li>a {
  padding-left:12px;
  padding-right:12px;
}

p.jumbo-title {
  font-size: 32px; !important
  margin: 0 auto 10px auto;
}

.tbl-title {
  font-weight: bold;
  text-align: center;
}

.fontsize-22 {
  font-size: 22px;
}

.fontsize-18 {
  font-size: 18px;
}

.section {
  padding-top: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.section-first {
  padding-top: 0;
}

.font-small {
  font-size: 12px;
}

.about-style {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.link-color {
  color: #337ab7;
}

.nowrap {
  white-space: nowrap;
}

.box-shadow-2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow-3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow-4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow-6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow-8dp {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow-16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}
